        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 52px;margin-left: 253px;margin-top: -9%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 91px;margin-left: 479px;margin-top: -8%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 73px;margin-left: 363px;margin-top: -9%;}
        }