        @media (min-width: 384px) {.container {margin-left: 0%;}}
        @media (min-width: 768px) {
                .container {margin-left: 1%;}

        }
        @media (min-width: 992px) {.container {margin-left: 0%;}}
