    .cristo {
        position: fixed;
        align-self: flex-start;
        opacity: 0.4; /* Adjust the opacity value (0.0 - 1.0) */
    }

    body {place-self: anchor-center;}

        @media (min-width: 384px) {
            .cristo {width: 30%;top: 6%;}
            .container {margin-left: 0%;}
            .r1::before {height: 127px;margin-left: 240px;margin-top: 0%;}
            .top-row-controls {width: 100%;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 4%;
                padding-right: 0%;}
            body {width: 384px;}
            .hombres::before {content: "H.";}
            .mujeres::before {content: "M.";}
            .hombres::before, .mujeres::before {left: -15px;top: 15px;}
            .b2::before {height: 60px;margin-left: 63%;margin-top: -9%;}

        }
        
        @media (min-width: 768px) {
            .cristo {width: 16%;top: 4%;}
            .container {margin-left: 2%;}
            .r1::before {height: 211px;margin-left: 456px;margin-top: 0%;}
            body {width: 800px;}
            .hombres::before {content: "H.";}
            .mujeres::before {content: "M.";}
            .hombres::before, .mujeres::before {font-size: 1.5rem;margin-left: -18px;margin-top: 1px;}
            .b2::before {height: 104px;margin-left: 61%;margin-top: -9%;}
            .tc::before {margin-left: 12px;}
            .ta::before {margin-left: 7px;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 6%;
                padding-right: 0%;}
            }

        @media (min-width: 992px) {
            .cristo {width: 8em;top: 7%;}
            .container {margin-left: -16%;}.r1::before {height: 160px;margin-left: 335px;margin-top: 0%;}
            body {width: 992px;}
            .hombres::before {content: "Hombres:";}
            .mujeres::before {content: "Mujeres:";}
            .hombres::before, .mujeres::before {font-size: 1.0rem;left: -80px;top: 20px;}
            .b2::before {height: 72px;margin-left: 61%;margin-top: -9%;}
            .canto-content-wrapper.single-column-mode #canto-left-container {
                padding-left: 0%;
                padding-right: 0%;
                width: fit-content;
                align-items: normal;
            }

            .aleft {margin-left: 99px;}
            .top-row-controls {width: 954px;}
            .saudio {margin-left: -20px;width: 993px;height: 35px;}
        }