        @media (min-width: 384px) {
                .container {margin-left: 0%;}
                .canto-content-wrapper.single-column-mode #canto-left-container {padding-left: 12%;padding-right: 0.5%;}
        }
        @media (min-width: 768px) {.container {margin-left: 0%;}.r1::before {height: 211px;margin-left: 456px;margin-top: 0%;}}
        @media (min-width: 992px) {.container {margin-left: 0%;}.r1::before {height: 160px;margin-left: 335px;margin-top: 0%;}}