        @media (min-width: 384px) {
            .ast::before, .ast1::before, .ast2::before, .ast3::before {font-size: 18px;}
            .container {margin-left: 0%;}
            .r1::before {height: 129px;margin-left: 238px;margin-top: -11%;}
            .r2::before {height: 145px;margin-left: 229px;margin-top: -47px;}
            .ast::before {margin-top: 15px;margin-left: 57px;}
            .ast1::before {margin-top: 4px;margin-left: 132px;}
            .ast2::before {margin-top: 2px;margin-left: 203px;}
            .ast3::before {margin-top: 4px;margin-left: 159px;}

        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 216px;margin-left: 446px;margin-top: -9%;}
            .r2::before {height: 207px;margin-left: 400px;margin-top: -47px;}
            .ast::before {margin-top: 19px;margin-left: 100px;}
            .ast1::before {margin-top: 12px;margin-left: 244px;}
            .ast2::before {margin-top: 9px;margin-left: 380px;}
            .ast3::before {margin-top: 13px;margin-left: 298px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 125px;margin-left: 268px;margin-top: -9%;}
            .r2::before {height: 170px;margin-left: 295px;margin-top: -45px;}
            .ast::before {margin-top: 16px;margin-left: 76px;}
            .ast1::before {margin-top: 7px;margin-left: 182px;}
            .ast2::before {margin-top: 9px;margin-left: 285px;}
            .ast3::before {margin-top: 8px;margin-left: 224px;}
        }


