    @media (min-width: 384px) {.container {margin-left: 0%;}.r1::before {height: 28px;margin-left: 86px;margin-top: 0%;}.tc1::before {top: 47px;}.tc2::before { font-size: 0.9rem;left: -17px;top: -163px;}}
    @media (min-width: 768px) {.container {margin-left: 0%;}.r1::before {height: 47px;margin-left: 88px;margin-top: 0%;}.tc1::before {top: 53px;font-size: 1.6rem;}.tc2::before { font-size: 1.6rem;left: -39px;top: -270px;}}
    @media (min-width: 992px) {.container {margin-left: 0%;}.r1::before {height: 34px;margin-left: 410px;margin-top: 0%;font-size: large;}.main-wrapper {width: auto;padding: 0px 60px 0px 60px;}.tc1::before {top: 50px;font-size: 1.23rem;}.tc2::before {top: -214px;font-size: 1.33rem;}}

    .full {width: max-content;}

/*
@media (min-width: 992px) {
    .top-row-controls {
        position: fixed;
        padding: 0px 121px 0px 0px;
    }
}
*/

hr, .dbr {
    @media (min-width: 992px) {
        padding: 0px 60px 0px 60px;
    }
}


