    @media (min-width: 384px) {.container {margin-left: 0%;}.r1::before {height: 133px;margin-left: 269px;margin-top: 0%;}}
    @media (min-width: 768px) {.container {margin-left: 0%;}.r1::before {height: 218px;margin-left: 507px;margin-top: 0%;}}
    @media (min-width: 992px) {.container {margin-left: 0%;}.r1::before {height: 166px;margin-left: 385px;margin-top: 0%;font-size: 1.3rem;font-weight: bold;}}
