        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {
                height: 173px;
                margin-left: 287px;
                margin-top: -12%;
            }
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {
                height: 263px;
                margin-left: 530px;
                margin-top: -8%;
            }
        }
        @media (min-width: 992px) {
            .container {margin-left: 10%;}
            .r1::before {
                height: 217px;
                margin-left: 400px;
                margin-top: -10%;
            }
        }
