        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {
                height: 95px;
                margin-left: 228px;
                margin-top: -10%;
            }
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {
                height: 150px;
                margin-left: 401px;
                margin-top: -8%;
            }
        }
        @media (min-width: 992px) {
            .container {margin-left: 14%;}
            .r1::before {
                height: 118px;
                margin-left: 304px;
                margin-top: -9%;
            }
        }

