        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 127px;margin-left: 224px;margin-top: -10%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 207px;margin-left: 410px;margin-top: -8%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 0%;}
            .r1::before {height: 174px;margin-left: 320px;margin-top: -10%;}
        }
