        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 127px;margin-left: 260px;margin-top: -37px;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 216px;margin-left: 476px;margin-top: -65px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 167px;margin-left: 370px;margin-top: -49px;}
        }
