        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 128px;margin-left: 223px;margin-top: -10%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 211px;margin-left: 418px;margin-top: -8%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 165px;margin-left: 315px;margin-top: -9%;}
        }
