        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 93px;margin-left: 215px;margin-top: -48px;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 150px;margin-left: 380px;margin-top: -57px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 118px;margin-left: 294px;margin-top: -43px;}
            .txcant {font-size: 15.4px;}
            .tleft {margin-top: -46px;margin-left: 215px;}
        }


