        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 205px;margin-left: 228px;margin-top: -10%;}
            .r2::before {height: 58px;margin-left: 68%;margin-top: -10%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 323px;margin-left: 441px;margin-top: -8%;}
            .r2::before {height: 93px;margin-left: 443px;margin-top: -8%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {font-size: 1.3rem;font-weight: bold;height: 262px;margin-left: 69%;margin-top: -9%;}
            .r2::before {font-size: 1.3rem;font-weight: bold;height: 73px;margin-left: 70%;margin-top: -9%;}
        }

