        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 61px;margin-left: 180px;margin-top: -37px;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 94px;margin-left: 333px;margin-top: -54px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {font-size: 1.3rem;font-weight: bold;height: 74px;margin-left: 248px;margin-top: -40px;}
        }


        
