        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 62px;margin-left: 246px;margin-top: -35px;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 100px;margin-left: 466px;margin-top: -57px;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 78px;margin-left: 350px;margin-top: -44px;}
        }
