        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 62px;margin-left: 169px;margin-top: 0%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 105px;margin-left: 311px;margin-top: 0%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 85px;margin-left: 239px;margin-top: 0%;}
        }
