        @media (min-width: 384px) {
            .container {margin-left: 0%;}
            .r1::before {height: 65px;margin-left: 200px;margin-top: -11%;}
        }
        @media (min-width: 768px) {
            .container {margin-left: 0%;}
            .r1::before {height: 102px;margin-left: 373px;margin-top: -9%;}
        }
        @media (min-width: 992px) {
            .container {margin-left: 12%;}
            .r1::before {height: 85px;margin-left: 282px;margin-top: -10%;}
        }
