:root {
    --gold: #b8860b;
    --dark: #1a1a1a;
    --bg: #f4f4f4;
}

body {
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background: white;
    width: 95%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    overflow: hidden;
}

.image-container {
    width: 100%;
    aspect-ratio: 0 / 0; /* CORREGIDO: de 0/0 a 1/1 para que se vea la imagen */
    background-color: #d6cb9d;
}





.image-container img {
    width: -webkit-fill-available;
    height: auto;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease-in-out;
    justify-self: center;
}

.dots-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    /*border: 1px solid #ddd;*/
    margin-bottom: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer; /* Indica que se puede hacer clic */
}

.dot.active {
    background-color: var(--gold);
    transform: scale(1.3);
    box-shadow: 0 0 8px rgba(184, 134, 11, 0.5);
}

.controls-container { padding: 5px; }
h1 { text-align: center; color: var(--dark); font-size: 1.4rem; margin: 0 0 20px 0; }
.input-group label { display: block; margin-bottom: 5px; font-weight: bold; font-size: 0.9rem; }
select { width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; margin-bottom: 20px; }
.radio-group { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-bottom: 20px; }
.radio-option { background: #f8f9fa; padding: 12px; border: 1px solid #dee2e6; border-radius: 4px; cursor: pointer; display: flex; align-items: center; gap: 10px; font-size: 0.85rem; }

.player-square {
     width: 100%;
     height: 50px;
     border-radius: 0;
     background-color: #f1f3f4;

     }